@import "@fortawesome/fontawesome-free/css/all.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    *, ::before, ::after {
        @apply box-border;
    }
}
html { font-size: 13px; }
body { font-size: 1rem; color: #444; min-width: 320px }
html, body, #app { width: 100%; height: 100%; overflow: hidden; }
.logo { min-width: 2rem; min-height: 2rem; background: url("../img/logo-empty.svg") no-repeat center center; background-size: contain; }
[type='checkbox'], [type='radio'], [type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
    @apply border-gray-300 dark:border-gray-600 dark:bg-gray-800
}
[type="checkbox"]:focus:not(:focus-visible), [type="radio"]:focus:not(:focus-visible) {
    @apply focus:ring-0 focus:ring-offset-0
}
.btn-success {
    @apply bg-green-600 hover:bg-green-700 text-white
}
.btn-danger {
    @apply bg-rose-600 hover:bg-rose-700 text-white
}
.btn-secondary {
    @apply bg-slate-200 hover:bg-slate-300 text-gray-900
}
.btn-sm {
    @apply inline-flex items-center text-sm font-bold py-1 px-2 rounded whitespace-nowrap cursor-pointer
}
.btn-sm:disabled {
    cursor: none;
}
.dark .btn-secondary {
    @apply bg-gray-500 hover:bg-gray-600 text-gray-100
}
