@import "@fortawesome/fontawesome-free/css/all.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    *, ::before, ::after {
        @apply box-border;
    }
}
html { font-size: 13px; }
body { font-size: 1rem; }
html, body, #app { width: 100%; height: 100%; overflow: hidden; }
.logo { width: 2rem; height: 2rem; background: url("../img/logo-empty.svg") no-repeat center center; background-size: contain; }
[type="checkbox"]:focus:not(:focus-visible), [type="radio"]:focus:not(:focus-visible) {
    @apply focus:ring-0 focus:ring-offset-0;
}
